{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en" charset="utf-8" {% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='./css/darkly.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid">
   <div class="row">
       <div class="col-md-1 vcenter"><img class="img-responsive" src="/static/img/slack_monochrome_white.png"></div>
       <div class="col-md-11 vcenter"><h3>#{{data.channel_name}}</h3></div>
   </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tbody>
                    {% for message in data.messages %}
                    <tr>
                        <td style="width: 1%;"><img src='{{message.user_img}}' class="img-circle"></td>
                        <td style="width: 8%;">{{message.user_name}}</br><div style="font-size: 10px; font-style: italic">{{message.msg_time}}</div></td>
                        <td >{% autoescape on %}{{message.text}}{% endautoescape %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}