{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en" charset="utf-8" {% endblock %}

{% block content %}
<div class="container-fluid">

<div class="panel panel-primary">
  <div class="panel-heading text-center"><h4>{{data.name}}</h4></div>
</div>

<div class="row" >
        {% for list in data.lists %}
        <div class="col-lg-{{data.numoflists}}" style="padding-right: 2px; padding-left: 2px;">
            <div class="panel panel-success" style="margin-bottom: 2px; margin-top: 2px;">
               <div class="panel-heading text-center" ><strong>{{list.name}}</strong></div>
            </div>
              {% for card in list.cards %}
                 <div class="panel panel-info" style="margin-bottom: 2px; margin-top: 2px;">
                   <div class="panel-heading text-center"><strong>{{card.name}}</strong></div>
                   <div class="panel-body">{{card.desc}}
                   {% if card.members %}
                       <hr>
                       {% for member in card.members %}
                           {{member.fullName}}</br>
                       {% endfor %}
                   {% endif %}

                   </div>
                 </div>
              {% endfor %}
        </div>
        {% endfor %}
</div>

</div>
{% endblock %}
